
/**
 * @file
 * Block Styling
 */

.block /* Block wrapper */ {
  margin-bottom: 50px;
}

#header-main .block,
#login-bar .block {
  margin-bottom: 0;
}

.block.region-odd /* Zebra striping for each block in the region */ {
}

.block.region-even /* Zebra striping for each block in the region */ {
}

.block.odd /* Zebra striping independent of each region */ {
}

.block.even /* Zebra striping independent of each region */ {
}

.region-count-1 /* Incremental count for each block in the region */ {
}

#footer-top .region-count-1 {
  margin-top: -47px;
}

#footer-top .region-count-1 .title {
  color: #fff; /* Should override color for just the title usually in an h2 tag*/
}

.count-1 /* Incremental count independent of each region */ {
}

.block-inner /* Additional wrapper for block */ {
}

.region-quickquote .block-block
{
  
}

.block h2.title, /* Block title */ 
h2.pane-title {
  font-size: 1em;
  line-height: 1em;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#footer .block h2.title, /* Block title */ 
#footer h2.pane-title {
  padding-left: 0; /* unset indent for footer */
}

#login-bar h2.title{
  display: none;
}

.sidebar .block .content /* Block's content wrapper */ {
  border-top: 10px solid #666666;
  color: #fff;
  padding: 0 10px;
}

.block .content a /* Block's content links */ {
  color: #fff;
}

#block-views-sponsors-block_1 .content/* Block for the featured sponsor */
{
	padding: 0 0 0 0;
	border-top: 0px none;
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First administrator-defined block */ {
}

#block-blog-0 /* "Recent blog posts" block */ {
}

#block-book-0 /* "Book navigation" block for the current book's table of contents */ {
}

#block-comments-0 /* "Recent comments" block */ {
}

#block-forum-0 /* "Active forum topics" block */ {
}

#block-forum-1 /* "New forum topics" block */ {
}

#block-menu-primary-links /* "Primary links" block */ {
}

#block-menu-secondary-links /* "Secondary links" block */ {
}

#block-node-0 /* "Syndicate" block for primary RSS feed */ {
}

#block-poll-0 /* "Most recent poll" block */ {
}

#block-profile-0 /* "Author information" block for the profile of the page's author */ {
}

#block-search-0 /* "Search form" block */ {
}

#block-statistics-0 /* "Popular content" block */ {
}

#block-user-0 /* "User login form" block */ {
}

#block-user-1 /* "Navigation" block for Drupal navigation menu */ {
}

#block-user-2 /* "Who's new" block for a list of the newest users */ {
}

#block-user-3 /* "Who's online" block for a list of the online users */ {
}

#block-views-sponsors-block_1 .content {
  
}

/*
 * Swag for your site block
 */
#block-block-19 img
{
  margin-top:-10px;
}


/*
 * Registration block
 */
#block-block-13 .block-inner 
{
  background:transparent url(../images/register-now.png) no-repeat left 22px;
  border:none;
  height:88px;
}

#block-block-13 .register-link
{
  cursor:pointer;
  height:53px;
  display:block;
  width:200px;
}

#block-block-14 .block-inner .content,
#block-block-13 .block-inner .content
{
  border-top:none;
}

#block-block-14 .block-inner img
{
  position:relative;
  top:-10px;
  left:-10px;
}

/*
 * Twitter block
 */
#sidebar-first #block-views-twitter-block_1,
#sidebar-second #block-views-twitter-block_1 {
  margin-top: -13px;
}

#block-views-twitter-block_1 .block-inner {
  background-image: url(../images/twitter_bk.png);
  background-repeat: no-repeat;
  background-position: left -20px;
  border: none;
}

#block-views-twitter-block_1 .content a {
  color: #29ABE2;
}

#block-views-twitter-block_1 .content a:hover {
  color: #EB6F01;
}

#block-views-twitter-block_1 h2.title {
  padding-top: 20px;
}

#block-views-twitter-block_1 .content {
  border: none;
  margin-top: 10px;
  padding-left:0;
}

#header-blocks .block /* Block wrapper */ {
  margin-bottom: 1em;
}

.custom-sitename
{
  font-size: 3.16em; /* 38px */
  line-height: 1.3em;
  text-transform:lowercase;
}

.custom-sitename h1
{
  font-size: 1em;
  line-height: 1.3em;
}

.block .content .custom-sitename a
{
  color: #29ABE2;
}

.block .content .custom-sitename a:link,
.block .content .custom-sitename a:visited,
.block .content .custom-sitename a:hover
{
  text-decoration: none;
}

.block .content a .sitename-secondary
{
  color: #a3a3a3;
}

.custom-time-place
{
  color: #a3a3a3;
  font-size: 1.286em; /* 1.286 x 14px = 18px */
  line-height: 1em; /* 1 x 18px = 18px */
  margin: 25px 0 -7px 170px;
}