
/**
 * @file
 * Comment Styling
 */


#comments /* Wrapper for the list of comments and its title */ {
  margin: 1em 0;
}

#comments-title /* Heading for the list of comments */ {
}

.comment /* Wrapper for a single comment */ {
  padding: 13px 0 14px;
  border-bottom: 1px solid #54BCE8;
}

#comments .first {
  border-top: 1px solid #54BCE8;
}

.comment-inner /* Additional wrapper for a single comment */ {
  margin: 0 70px 0 0;
}

.comment-preview /* Preview of the comment before submitting new or updated comment */ {
}

.comment.new /* A new comment since the user last viewed the page. */ {
}

.comment.odd /* An odd-numbered comment in the list of comments */ {
}

.comment.even /* An even-numbered comment in the list of comments */ {
}

.comment.first /* The first comment in the list of comments */ {
}

.comment.last /* The last comment in the list of comments */ {
}

.comment-unpublished /* Unpublished comments */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. See also the div.unpublished declaration in the nodes.css. */ {
}

.comment-published /* Published comments */ {
}

.comment-by-anon /* A comment created by an anonymous user */ {
}

.comment-by-author /* A comment created by the node's author */ {
}

.comment-mine /* A comment created by the current user */ {
}

.comment h3.title /* Comment title */ {
  margin: 0 0 5px 0;
}

.comment h3.title a {
  text-decoration: none;
}

.new /* "New" marker for comments that are new for the current user */ {
  color: #c00;
}

.comment .picture /* The picture of the comment author */ {
  position: relative;
  float: right;
  margin-right: -70px;
}

.comment .submitted /* The "posted by" information */ {
  margin: 0 0 5px 0;
}

.comment .submitted a,
.comment .submitted a:visited {
  color: #eb6f01;
  text-decoration: none;
}

.comment .content /* Comment's content wrapper */ {
}

.comment .user-signature /* The user's signature */ {
}

.comment ul.links /* Comment links. See also the ul.links declaration in the pages.css. */ {
  margin: 1em 0 0 0;
  font-size: 0.917; /* 0.917 x 12px = 11px */
}

#comments .comment ul.links li.first {
  padding-left: 0px;
  border-top: 0px none;
}

.indented /* Nested comments are indented */ {
  /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
}

.preview .comment /* Preview of the comment before submitting new or updated comment */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}
