
/**
 * @file
 * RTL companion for the layout-liquid.css file.
 */


/*
 * Body
 */
#skip-to-nav {
  float: left;
}

/*
 * Content
 */
#content {
  float: right;
  margin-left: -100%;
  margin-right: 0; /* Negative value of #content's width + left margin. */
}

.sidebar-first #content-inner {
  padding-left: 0; /* The width + left margin of #sidebar-first. */
  padding-right: 200px;
}

.sidebar-second #content-inner {
  padding-left: 200px;
  padding-right: 0; /* The width + right margin of #sidebar-second. */
}

/*
 * Navbar
 */
#navbar {
  float: right;
  margin-left: -100%;
  margin-right: 0; /* Negative value of #navbar's width + left margin. */
}

#navbar ul /* Primary and secondary links */ {
  text-align: right;
}

#navbar li /* A simple method to get navbar links to appear in one line. */ {
  float: right;
  padding: 0 0 0 10px;
}

/*
 * First sidebar
 */
#sidebar-first {
  float: right;
  margin-left: -200px;
  margin-right: 0; /* Negative value of #sidebar-first's width + left margin. */
}

#sidebar-first-inner {
  margin: 0 0 0 20px;
}

/*
 * Second sidebar
 */
#sidebar-second {
  float: left;
  margin-left: 0; /* Negative value of #sidebar-second's width + right margin. */
  margin-right: -200px;
}

#sidebar-second-inner {
  margin: 0 20px 0 0;
}
