/**
 * @file
 *
 * Custom layout for site-specific configuration.
 *
 * @copyright (C) Copyright 2009 Palantir.net
 * @license http://www.gnu.org/licenses/gpl-2.0.html
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/*
 * Body
 */
body {
}

#page,
#login-bar,
#header-position,
.footer-position,
#closure-blocks {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  width: 950px;
}

#page-inner {
  padding: 35px 0;
}

#navigation-top,
#navigation {
  position: absolute; /* Take the named anchors out of the doc flow    */
  left: -10000px;     /* and prevent any anchor styles from appearing. */
}


#skip-to-nav {
  float: right; /* LTR */
  margin: 0 !important;
  font-size: 0.8em;
}

#skip-to-nav a:link,
#skip-to-nav a:visited {
  color: #fff; /* Same as background color of page */
}

#skip-to-nav a:hover {
  color: #000;
  text-decoration: none;
}

/* Alternatively, the skip-to-nav link can be completely hidden until a user tabs
   to the link. Un-comment the following CSS to use this technique.  We're overriding
   the rules above. */
#skip-to-nav a,
#skip-to-nav a:hover,
#skip-to-nav a:visited {
  position: absolute;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip-to-nav a:active,
#skip-to-nav a:focus {
  position: static;
  width: auto;
  height: auto;
}



/*
 * Header
 */
#header {
  width: 100%;
}

#header-inner {
  position: relative;
  margin: 25px 0 20px 0;
}

#search-box {
}

#header-main {
  float: left;
  width: 609px;
}

#header-blocks {
  float: left;
  clear: both;
}

#secondary-nav
{
  position: absolute;
  bottom: -65px;
  right: 0px;
}

/*
 * Main (container for everything else)
 */
#main {
  position: relative;
}

#main-inner {
}

/*
 * Content
 *
 * Our visual layout order will be: content, first sidebar, second sidebar.  Below
 * are the conditions that #content follows when certain sidebars are present or not.
 */
#content,
.no-sidebars #content {
  float: left; /* LTR */
  width: 950px;
  margin-left: 0; /* LTR */
  margin-right: -950px; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
}

/* sidebar first in this design sits on the far right */
.sidebar-first #content {
  width: 705px; /* Page width minus width of first sidebar */
  margin-left: 0; /* LTR */
  margin-right: -705px; /* LTR */ /* Negative value of #content's width + left margin. */
}

/* sidebar second doesn't technically exist but we're assuming if it did it will sit furthest right */
.sidebar-second #content {
  width: 705px;
  margin-left: 0; /* LTR */
  margin-right: -705px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.two-sidebars #content {
  width: 460px;
  margin-left: 0; /* LTR */ /* The width of #sidebar-first */
  margin-right: -460px; /* LTR */ /* Negative value of #content's width + left margin. */
}

#content-inner {
  margin: 0 0 0 0;
  padding: 0;
}

/*
 * Navbar
 */
#navbar {
  float: right; /* LTR */
  width: 245px;
  margin-left: 0; /* LTR */
  margin-right: 0; /* LTR */ /* Negative value of #navbar's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navbar-inner. */
/** Removed because we're pulling #navbar out of the source reording.  The height needs to be variable
  *
  *height: 2.3em; /* The navbar can have any arbritrary height. We picked one
                    that is the line-height plus 1em: 1.3 + 1 = 2.3
                    Set this to the same value as the margin-top below. */
}

.with-navbar #content,
.with-navbar #sidebar-first,
.with-navbar #sidebar-second {
/** Removed because we're pulling #navbar out of the source reording.  The height needs to be variable
  *
  *margin-top: 2.3em; /* Set this to the same value as the navbar height above. */
}

#navbar-inner {
}

#navbar ul /* Primary and secondary links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
  clear: left;
}

#navbar li /* A simple method to get navbar links to appear in one line. */ {
  float: left; /* LTR */
  width: 100%;
  text-align: right;
  padding: 0 0 0 0; /* LTR */
  list-style-image: none;
  list-style-type: none;
}

/*
 * SIDEBARS
 *
 * Our visual layout order will be: content, first sidebar, second sidebar.  Below
 * are the conditions that #content follows when certain sidebars are present or not.
 */

/*
 * First sidebar (appears after or right of content)
 *
 * We need to define the layout twice for sidebar first b/c the measurements change
 * if second sidebar exists.  The left edge (#content's width) is different depending on the
 * number of sidebars.
 */
#sidebars-wrapper {
  margin-left: 705px; /* LTR */
}

.two-sidebars #sidebars-wrapper {
  margin-left: 460px; /* LTR */
}
#sidebars-wrapper-inner {
  margin: 0 0 0 30px; /* LTR */
  padding: 0;
  overflow:hidden;
}

#quickquote{
  margin:75px 0 30px 0;
}

#sidebar-first {
  float: left; /* LTR */
  width: 215px;
  margin-left: 0px; /* LTR */
  margin-right: -215px; /* LTR */ /* Negative value of #sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-first-inner. */
}

.two-sidebars #sidebar-first {
  float: left; /* LTR */
  width: 215px;
  margin-left: 0; /* LTR */
  margin-right: -215px; /* LTR */ /* Negative value of #sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-first-inner. */
}


#sidebar-first-inner {
  margin: 0 0 0 0px; /* LTR */
  padding: 0;
}

/*
 * Second sidebar (appears after or right of first sidebar)
 *
 * We only need to define the layout once for sidebar second b/c the measurements don't change
 * if first sidebar doesn't exist.  Either way, its always 760px over from the left edge.
 */

#sidebar-second {
  float: left; /* LTR */
  width: 245px;
  margin-left: 215px; /* LTR */ /* Width of content + sidebar-first. */
  margin-right: -440px; /* LTR */ /* Negative value of #sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-second-inner. */
}

#sidebar-second-inner {
  margin: 0 0 0 30px; /* LTR */
  padding: 0;
}

/*
 * Footer
 */
#footer {
}

#footer-inner {
}

/*
 * Closure
 */
#closure-blocks /* See also the #page declaration above that this div shares. */ {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navbar,
#sidebar-first,
#sidebar-second,
#footer,
#closure-blocks {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

#navbar {
  overflow: hidden; /* May need to be removed if using a dynamic drop-down menu */
}

/*
 * If a div.clear-block doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page div.
 */
/*
#page {
  overflow-y: hidden;
}
*/
