
/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #eb6f01;
  text-decoration: none;
}

ul.menu li a:hover,
ul.links li a:hover {
  color: #eb6f01;
}


/*
 * Navigation bar
 */
#navbar {
}

#navbar-inner {
}

#navbar ul.menu,
#navbar ul.links
{
  font-size: 2.167em; /* 2.167 x 12 = 26 */
  line-height: 0.923em; /* 0.923 x 26 = 24 */
  text-transform: uppercase;
}

#navbar ul.menu a,
#navbar ul.links a
{
  text-decoration: none;
}

/*
 * Primary and Secondary menu links
 */
#main-menu {
}

#secondary-menu {
}

/*
 * Footer menus
 */



/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.sidebar ul.menu {
  margin: 0;
}

.sidebar .block-menu .content,
.sidebar .block-menu_block .content {
  border-top: 10px solid #29abe2;
  background-color: #0a2936;
}

.sidebar .block-menu li,
.sidebar .block-menu_block li {
  border-bottom: 1px solid #29abe2;
  padding: 5px 0;
}

.sidebar .block-menu li a,
.sidebar .block-menu_block li a{
  text-decoration: none;
}

.sidebar ul.menu li.last,
.sidebar ul.menu li.expanded {
  border-bottom: none;
}

.sidebar ul.menu li.expanded {
  padding-bottom: 0;
}

/*.sidebar ul.menu li.expanded li.first{
  border-top: 1px solid #29abe2;
  padding-top: 5px;
}

.sidebar ul.menu li.expanded li.last{
  border-bottom: 1px solid #29abe2;
}*/

.sidebar ul.menu li.expanded ul {
  border-bottom: 1px solid #29abe2;
  border-top: 1px solid #29abe2;
  margin-top: 5px;
}

.sidebar ul.menu li.expanded ul a{
  padding: 0 0 0 10px;
}

a.next:hover,
a.prev:hover
{
  cursor: pointer;
}


#secondary-nav #secondary-menu
{
  text-transform:uppercase;
}
