
/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */


body {
  background-color: #29abe2;
}


#outerpage {
  background-image: url(../images/bk-gray.png);
  background-repeat: repeat;

}

#page {
}

#page-inner {
}

#header {
}

#header-inner {
}

#main {
}

#main-inner {
}

#footer {
}

#footer-inner {
}
