
/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}

#page {
}

#page-inner {
}

#login-bar {
  font-weight: bold;
  text-align: right;
}

#login-bar a {
  color: #eb6f01;
  text-transform: uppercase;
  text-decoration: none;
}

#login-bar a:hover {
  color: #29ABE2;
}

.region-login-bar
{
  padding-top:12px;
}

/*
 * Header
 */
#header {
  background-color: #fff;
  border-top: 10px solid #29abe2;
  border-bottom: 10px solid #29abe2;
}

#header-inner {
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0 10px 0 0; /* LTR */
  padding: 0;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.3em;
  text-transform: lowercase;
}

#site-name a:link,
#site-name a:visited {
  color: #29abe2;
  text-decoration: none;
}

#site-name a:hover {
  text-decoration: none;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

#header-blocks /* Wrapper for any blocks placed in the header region */ {
}

/*
 * Main (container for everything else)
 */
#main {
}

#main-inner {
}

/*
 * Content
 */
#content {
}

#content-inner {
}

#mission /* The mission statement of the site (displayed on homepage) */ {
}

#content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

#content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */ {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 10px; /* Undo system.css */
}

/*
 * Headings
 */

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
  margin: 0;
}

h1.title /* The title of the page */ {
  line-height: 0.917em; /* 0.917 x 24 = 22px */
  margin-bottom: -4px; /* To align with top of content */
  margin-left:10px;
}

.headline {
  font-size: 2em; /* 24px */
  line-height: 1em;
  font-weight: bold;
}


.headline h2.headline-title {
  color: #eb6f01;
  font-size: 1.75em; /* 24px x 1.75em = 42px*/
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.8em;
  margin-bottom: 10px;
}

.panel-pane .headline h2.headline-title {
  padding-top:0;
}

.headline p {
  margin: 0;
}

#footer-top  h2 {
  text-transform: none;
  font-size: 2em;
}

#footer-top  h3 {
  font-size: 1.09em;
}

#secondary-nav ul.links li {
  padding: 0 0 0 15px;
}

#secondary-nav ul.links li a:link,
#secondary-nav ul.links li a:visited {
  font-size: 0.917em; /* 0.917 x 12 = 11px */
  line-height: 1em;
  color: #dbdbdb;
  text-decoration: none;
}
/*
 * Tables
 */
tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.help /* Help text on a page */ {
  margin: 1em 0;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

.not-front #content-area /* Wrapper for the actual page content */ {
  background-color: #ffffff;
  color: #666666; 
  border-top: 12px solid #29abe2;
  float: left; /* Needed first on the panels admin pg, but possibly on all other content */
  width: 100%;
}

#content-area-inner {
  padding: 10px;
  float: left; /* Needed first on the panels admin pg, but possibly on all other content */
}

.section-user #content-area-inner,
.section-users #content-area-inner
{
  width:95%;
}

.profile .picture
{
  float:none;
}

div.content-profile-display
{
  padding:0;
  border:none;
}


.section-attendees #content-area {
  background-color: transparent;
}

.section-attendees #content-area-inner {
  padding: 0;
}

.page-sessions #content-area {
  background-color: transparent;
  border-top-width: 2px;
}

.page-sessions #content-area-inner {
  padding: 0;
}

ul.links /* List of links */ {
  margin: 1em 0;
  padding: 0;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

.node-type-sponsor ul.links li {
  padding: 0;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 1em 0;
  text-align: center;
}

.pager a,
.pager strong.pager-current /* Each page number in the pager list */ {
  padding: 0.5em;
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
  margin: 1em 0;
}

.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right; /* LTR */
}

#content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your #sidebar-first
 * (see the layout.css file.)
 */
#sidebar-first {
}

#sidebar-first-inner {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your #sidebar-second
 * (see the layout.css file.)
 */
#sidebar-second {
}

#sidebar-second-inner {
}

/*
 * Footer
 */
#footer {
  text-transform: uppercase;
}

#footer-inner {
}

#footer-top,
#footer-bottom {
  padding: 20px 10px;
}

#footer-top
{
  padding-bottom:0;
}

#footer-inner
{
  margin-bottom:40px;
}

#footer-top {
  background-color: #fff;
  border-top: 10px solid #29abe2;
  border-bottom: 10px solid #dbdbdb;
  color: #666666;
}

#footer-top a {
  color: #666666;
}

#footer-bottom {
  background-color: #29abe2;
  color: #fff;
}

#footer-bottom a {
  color: #fff;
  text-decoration: none;
}

#footer-bottom a:hover
 {
  color: #444;
}

#footer-message /* Wrapper for the footer message from Drupal's "Site information"
                   and for any blocks placed in the footer region */ {
  margin-bottom: 10px;
  width: 100%;
}

#footer-bottom #block-block-1 /* Copyright info */{
  float: left;
  width: 460px;
  margin: 1em 0 50px 0;

}

#footer-bottom #secondary-menu-footer {
  float: right;
}

/*
 * Closure
 */
#closure-blocks /* Wrapper for any blocks placed in the closure region */ {
}

/*
 * Drupal boxes
 *
 * Wrapper for Comment form, Comment viewing options, Menu admin, and
 * Search results.
 */
.box /* Wrapper for box */ {
}

.box h2 /* Box title */ {
}

.box .content /* Box's content wrapper */ {
}

/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users.
 */
.element-invisible {
  height: 0;
  overflow: hidden;
  position: absolute;
}

div.fivestar-widget-static .star
{
  background:none;
}

div.fivestar-widget-static .star span.on {
  background-image: url(../images/star.png);
}

div.fivestar-widget-static .star span.off 
{
  background-image: url(../images/star-grey.png);
}

div.fivestar-widget-static .star {

}

.fivestar-widget-static
{
  /*border-top: 8px solid #29ABE2;
  border-bottom: 8px solid #29ABE2;*/
  padding:4px 0;
  width:85px;
}
