/** Use this file for all panel layout specific css for **/

.panel-col-last-top h2.pane-title, 
.panel-col-last-top h2.title {
  display: none; /* For chitown twocolumnonerow layout - we don't ever want the titles up here. */
}

.panel-twocolumnonerow .panel-col-first
{
  float: left;
  width: 460px;
  margin-left: 0; /* LTR */ /* The width of #sidebar-first */
  margin-right: -460px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.panel-twocolumnonerow .panel-col-first h2.pane-title
{
  font-size: 2em;
  line-height: 0.6em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-transform: none;
  margin-left:10px;
}

.panel-twocolumnonerow .panel-col-last
{
  float: left;
  width: 460px;
  margin-left: 490px; /* LTR */ /* The width of #sidebar-first */
  margin-right: -950px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.panel-twocolumnonerow .panel-col-last-top
{
  margin: 58px 0 30px 0;
}

.panel-twocolumnonerow .panel-col-last-left
{
  float: left;
  width: 215px;
  margin-left: 0px;
  margin-right: -215px;
  margin-top: 35px;
}

.panel-twocolumnonerow .panel-col-last-right
{
  float: left;
  width: 215px;
  margin-left: 245px;
  margin-right: -460px;
}

.panel-twocolumnonerow .panel-col-last .inside
{
  margin: 0 0 0 0;
}

.panel-twocolumnonerow .panel-col-first .inside 
{
  margin: 0 0 0 0;
}