
/**
 * @file
 * Views Styling
 */
.view
{
  overflow:hidden;
}


div.views-row {
  margin-bottom: 20px;
  font-size: 0.916em; /* 0.916 x 12 = 11px */
  line-height: 1.273em;
}

#content div.views-row
{
  margin: 0 0 0 0;
	padding: 13px 0px 14px 0px;
	border-bottom: #54bce8 1px solid;
}

#content div.views-row-last
{
  border-bottom: 0px;
}


.view .item-list ul,
.view .item-list ol {
  list-style: none;
}

.view .item-list ul li,
.view .item-list ol li {
  border-bottom: 1px solid #666666;
  padding: 10px 0;
}

.view .item-list ul li.last,
.view .item-list ol li.last {
  border-bottom: none;
}

.views-field-field-experiencetype-nid,
.views-field-field-experiencetype-nid .field-content
{
  display: inline;
}

.views-field-field-experiencetype-nid .field-item
{
  display: inline;
  margin: 0 .3em 0 0;
}

.views-field-field-experiencelevel-nid,
.views-field-field-experiencelevel-nid .field-content
{
  display: inline;
}

.views-field-field-experiencelevel-nid .field-item
{
  display: inline;
  margin: 0 .3em 0 0;
}

/*
 * Grids
 */
table.views-view-grid td
{
  padding:0 10px 10px 0
}

table.views-view-grid .row-last td 
{

}

/*
 * Pager
 */
.view .item-list .pager
{
  background-color:#2D2D2D;
  margin:0;
  padding-top:7px;
  padding-right:17px;
  text-align:right;
}

.view .item-list .pager li
{
  background-color:#BBBBBB;
  padding:5px 8px;
}

.view .item-list .pager li:hover,
.view .item-list .pager li:hover a
{
  background-color:#29ABE1;
  color:#fff;
}
.view .item-list .pager li.pager-current
{
  background-color:#29ABE1;
  color:#fff;
}

.view .item-list .pager li a
{
  color:#000;
  padding:0;
  font-weight:normal;
}

/*
 * Header/Footer
 */
.view-header
{
  padding-top:10px;
  background-color:#fff;
  overflow:hidden;
}

.view-header p,
.view-footer p
{
	margin: 0 0 0 0;
}

.view-header p
{
  margin-bottom:1em;
}

.view-header a:link,
.view-header a:visited,
.view-footer a:link,
.view-footer a:visited
{
	float: right;
	background: url('../images/block-view-footer-link.png') no-repeat;
	display: block;	
	color: #EB6F01;
	padding: 7px 9px 9px 9px;
	margin-right: 10px;
	text-transform: uppercase;
	text-decoration: none;
}

.view-header a:link,
.view-header a:visited
{
  background:none;
}

.view-header a:hover,
.view-footer a:hover
{
  color:#29ABE2;
}



/*
 * sidebar-second style
 */
.region-sidebar-second .block-views .content 
{
  background-color:#0A2936;
  border-top:10px solid #29ABE2;
}

.region-sidebar-second #block-views-sponsors-block_1 .content
{
  background: none;
  border-top: none 0px;
}

.region-sidebar-second .view .item-list ul
{
  margin:0;
}

.region-sidebar-second .view .item-list ul li
{
  border-bottom:1px solid #29ABE2;
  padding:5px 0;
}

.region-sidebar-second .view .item-list ul li.views-row-last
{
  border-bottom:none;
}

.region-sidebar-second .view .item-list ul li a
{
  text-decoration:none;
  font-weight:normal;
}

.views-field-title
{
  font-size: 1.091em;
}

.views-field-title a,
.views-field-title a:link,
.views-field-title a:visited
{
	text-decoration: none;
	text-transform: uppercase;
}

/*
 * Attendees
 */

.view-attendees {
  background-image: url(../images/bk_blue_table.png);
  background-repeat: repeat-x;
  background-position: left top;
  background-color: #666666;
  width: 460px;
}

.view-id-attendees-display-id-block_1,
.view-id-attendees-display-id-block_2,
.view-id-attendees-display-id-block_3,
.view-id-attendees-display-id-block_4
{
  width: auto;
  background: none;
}

.view-attendees .view-content {
  margin-left:10px;
  width: auto;
}

.view-id-attendees-display-id-block_4 .view-content
{
  margin:0;
}

.view-attendees table.views-view-grid {
  empty-cells: show;
  margin: 0;
}

.view-id-attendees-display-id-block_2 .view-content
{
  background-color: #666666;
  margin: 0 0 0 0;
  padding: 10px 0 0 10px;
}

.view-display-id-node_content_1 table.views-view-grid td,
.view-id-attendees-display-id-block_2 table.views-view-grid td
{
  padding: 0 8px 8px 0;
}

.view-id-attendees-display-id-block_1
{
	position: relative;
  height:228px;
	overflow: hidden;
	margin: 0 0 31px 0;
}

.view-id-attendees-display-id-block_1  .view-content
{
  margin: 10px;
}

.view-id-attendees-display-id-block_1 .scrollable
{
  background-image: url(../images/bk_blue_table.png);
  background-repeat: repeat-x;
  background-position: left top;
  background-color: #fff;
  height: 180px;
  padding:1px;
}

#content .view-id-attendees-display-id-block_1  div.views-row
{
  float: left;
  margin: 0 0 60px 8px;
  padding: 0 0 0 0;
  border-bottom: 0px none;
}

.view-id-attendees-display-id-block_1  .view-content .views-row-first
{
	margin: 0 0 0 0;
}

.view-id-attendees-display-id-block_1 .views-field-value-1,
.view-id-attendees-display-id-block_1 .views-field-value,
.view-id-attendees-display-id-block_1 .views-field-picture
{
  display: none;
}

.view-id-attendees-display-id-block_1 .views-field-value
{
	position: absolute;
	top: 203px;
}

.view-id-attendees-display-id-block_1 .views-field-value-1
{
  float: left;
	position: absolute;
	top: 203px;
}

.view-id-attendees-display-id-block_1 .views-field-value-1 a
{
	text-decoration: none;
}

.view-id-attendees-display-id-block_1 .views-field-picture-1
{
  display: block;
}

.view-id-attendees-display-id-block_1 .views-row-first .views-field-value-1,
.view-id-attendees-display-id-block_1 .views-row-first .views-field-value,
.view-id-attendees-display-id-block_1 .views-row-first .views-field-picture
{
  display: block;
}

.view-id-attendees-display-id-block_1  .views-row-first .views-field-picture-1
{
  display: none;
}

.view-id-attendees-display-id-block_1 .views-field-picture-1 a
{
  background: #29abe2;
  display: block;
  width: 60px;
  border: 1px solid #fff; 
}

.view-id-attendees-display-id-block_1 .views-field-picture-1 img
{
  -moz-opacity:0.6;
  opacity:0.6;
  filter:alpha(opacity=60);
  vertical-align: bottom;
}

.view-id-attendees-display-id-block_1 .scroll-links
{
  position: absolute;
  right: 0px;
  margin: 6px 0;
}

.view-id-attendees-display-id-block_1 a.scroll-link
{
  float: left;
  background: #29abe2;
  display: block;
  padding: 5px 15px 4px;
  margin: 0 10px 0 0;
  border: 1px solid #fff; 
}
.view-id-attendees-display-id-block_1 a.scroll-link:hover
{
  background:#EB6F01;
  color:#fff;
}

.view-id-attendees-display-id-block_1 a.scroll-link:active
{
  color: #fff;
  font-weight: normal;
}

/*
 * Sponsors
 */
.view-id-sponsors-display-id-block_1 .view-content
{
  background-color: #666666;
  padding: 10px;
}
.views-field-field-sponsor-image-fid
{
  background-color:#fff;
  text-align:center;
  min-height:75px;
  line-height:8em;
}

.view-id-sponsors-display-id-block_1  .views-field-field-sponsor-image-fid
{
  line-height:4em;
  padding:10px;
}

.view-sponsors-view-display-id-block_1 .view-content
{
}

.view-sponsors-view-display-id-page_1 .views-field-field-sponsor-image-fid /* All Sponsors page */ 
{
}

.view-sponsors-view-display-id-block_1 .views-row
{
	margin: 0 0 0 0;
}

.view-sponsors-view-display-id-block_2 .views-row /* Footer */ {
  float: left;
  margin-right: 50px;
}

.view-sponsors-view-display-id-block_2 img/* Footer */ {
  vertical-align:middle;
}

.view-sponsors-view-display-id-block_2 h3, /* Footer */
.view-sponsors-view-display-id-page_1 h3 /* All Sponsors page */
{
  clear: left;
  padding-top: 30px;
}

.view-sponsors .view-footer
{
  background-color:#0A2936;
}


/* 
 * Sessions 
 */
.view-sessions .view-content
{
	background: #fff;
	border-top: 10px solid #29abe2;
	border-bottom: 10px solid #29abe2;
	color: #323232;
	padding: 0 10px 0 10px;
}

#block-views-sessions-block_3 .view-sessions .view-content
{
   background:none;
   border:none;
   padding:0;
   color:#FFFFFF;
}

.view-sessions .views-row
{
	margin: 0 0 0 0;
	padding: 13px 0px 14px 0px;
	border-bottom: #54bce8 1px solid;
}

.view-sessions .views-row-has-fivestar
{
  padding-left: 95px;
}

.view-sessions .views-row-last
{
  border-bottom: 0px;
}

.view-sessions .views-field-picture
{
	float: right;
	margin: 0 0 10px 10px;
}

.view-sessions .views-field-name a,
.view-sessions .views-field-name a:visited
{
  color: #eb6f01;
  text-decoration: none;
}

.view-sessions .views-field-name a:hover
{
  color:#29ABE2;
}

.view-sessions .views-field-value
{
  float: left;
  margin-left: -95px;
}


/*
 * News
 */

.view-news div.views-row
{
  padding-bottom:10px;
  margin-bottom:10px;
  border-bottom:1px solid #eee;
}
