
.panel-twocolumnonerow { 
/*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
}

.panel-twocolumnonerow .panel-col-top,
.panel-twocolumnonerow .panel-col-bottom { 
  width: 99.9%; 
  clear: both;
}

.panel-twocolumnonerow .panel-col-top .inside {
  margin-bottom: .5em;
}

.panel-twocolumnonerow .panel-col-first { 
  float: left; 
  width: 50%; 
}
* html .panel-twocolumnonerow .panel-col-first {
  width: 49.9%;
}

.panel-twocolumnonerow .panel-col-first .inside { 
  margin: 0 .5em 1em 0;
}

.panel-twocolumnonerow .panel-col-last { 
  float: left; 
  width: 49.9%; 
}

.panel-twocolumnonerow .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}

.panel-twocolumnonerow .panel-separator {
  margin: 0 0 1em 0;
}

.panel-twocolumnonerow .panel-col-last-left,
.panel-twocolumnonerow .panel-col-last-right {
  float: left; 
  width: 49.9%; 

}